@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-primary: #d4dded;
    --bg-secondary: hsla(217, 54%, 84%, 0.4);
    --bg-third: #bacbe9;
    --white: #FFFFFF;
    --orkut: #ec1b90;
    --link: blue;
    --gray-color: gray; 
}

body {
  
}

.bg-primary {
    background-color: var(--bg-primary);
}
.bg-secondary {
    background-color: var(--bg-secondary);
}
.bg-third{
    background-color: var(--bg-third);
}
.bg-white{
    background-color: var(--white);
}
.orkut{
    color: var(--orkut);
}
.link{
    text-decoration: underline;
    color: var(--link);
}
.color-gray{
    color: var(--gray-color);
}
.min-s-300{
    min-width: 300px;
    width: 20%;
}
.danger{
    color: red;
}